# Ignore Builds Directory
build/**
dsa_priv.pem
.DS_Store
Frameworks/.DS_Store
KaniManabu.xcodeproj/project.xcworkspace/xcuserdata/*.*
.idea/*.*
.idea/inspectionProfiles/*.*
.idea/runConfigurations/*.*
.idea/runConfigurations/Hachidori_test.xml
.idea/scopes/*.*
*.xcuserstate
/KaniManabu.xcodeproj/xcuserdata/**
/KaniManabu-macOS/Support/Private/CFobError.h
/KaniManabu-macOS/Support/Private/CFobError.m
/KaniManabu-macOS/Support/Private/CFobLicVerifier.h
/KaniManabu-macOS/Support/Private/CFobLicVerifier.m
/KaniManabu-macOS/Support/Private/DonationKeyVerify.h
/KaniManabu-macOS/Support/Private/DonationKeyVerify.m
/KaniManabu-macOS/Support/Private/LicenseManager.h
/KaniManabu-macOS/Support/Private/LicenseManager.m
/KaniManabu-macOS/Support/Private/DonationWindow.xib
/KaniManabu-macOS/Support/Private/DonationWindowController.h
/KaniManabu-macOS/Support/Private/DonationWindowController.m
/KaniManabu-macOS/Support/Private/PatreonLicenseManager.h
/KaniManabu-macOS/Support/Private/PatreonLicenseManager.m
/KaniManabu.xcodeproj/xcuserdata/takeyayuki.xcuserdatad/xcschemes/xcschememanagement.plist
/.DS_Store
/Dependencies/MicrosoftCognitiveServicesSpeech.xcframework
/Common/Backend/MicrosoftSpeechConstants.m
/Common/Backend/IBMSpeechConstants.m
IBMSpeechConstants.m
